*~
*#
a.out
*.out
*.a
*.o
.vscode/
build
release*
tsan*
asan*
__pycache__
.doit.db
.idea
perf.data*
cmake-*
.submit-repo/
CMakeSettings.json
CppProperties.json
.vs/
build_asan
.DS_Store
.cache/
*.pdf
compile_commands.json
archive_name
Testing
Build
cmake-build-debug
CMakeFiles
Makefile
archiver
cmake_install.cmake
CMakeCache.txt
Project.cbp
archiver.cbp
../*
!../archiver
